.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
  }
  
  .game-board {
    position: relative;
    height: 30vmin;
    width: 30vmin;
    border: 1px solid white;
  }
  
  .snake-dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #61dafb;
  }
  
  .snake-food {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #e02020;
  }
  